.title-section{
  font-size: 6rem;

}

.sub-heading{
  font-size: 4rem;
}
 .hero-section{
  margin-top: 6rem;
 }

 .project-section{
  margin-top: 6rem;
  background-color: rgb(41, 38, 28)
 }
 .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button{ 
  margin-left: 6rem;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.center{
  margin-left: 3rem;
}

.btnn{
  justify-content: center;
  text-align: center;
  margin-left: 50rem;

}